<!DOCTYPE html>
<html lang="es" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> 
</head>
<body class="bg-gray-200 h-full">

    <nav class="bg-transparent">
        <div class="mx-auto flex flex-row items-center h-16 justify-around">
            <div class=" hover:text-white">
                <a href="#"><i class="fa-solid fa-brain fa-2xl"></i></a>
            </div>
    
            <div class="font-black">
                <h2>MANGO BRAINS</h2>
           </div>
    
           <div class="hover:text-white">
            <span><a href="https://github.com/RyuTsuki08/mango_brains" target="_blank"><i class="fa-brands fa-github-alt fa-2xl"></i> Github</a> </span>
       </div>
            
        </div>
    </nav>

    {% block body %}
    {% endblock %}

    {% block content %}
    {% endblock %}
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{{ url_for('static', filename='js/main.js ') }}"></script>
    
</body>
</html>